
.main-div {
  background-color: #d2d2d2;
  mat-card {
    padding: 0
  }
}

form {
  padding: 1rem;
}

mat-toolbar {
  height: 100px;
}

img {
  width: 40px;
}

.bottom {
  padding: 1rem;
  text-align: end;
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
