.container {
  width: 85%;
  max-width: 1080px;
  margin: 0 auto;
}

h2 {
  margin: 1rem;
  text-align: center;
}

.card-container {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.example-card {
  max-width: 300px;
}

.example-header-image {
  background-size: cover;
}
